.posts {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; */

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.featured {
  max-width: 1200px;
  margin: 30px auto;
  padding: 25px;
  background: #f48750;
  /* border: 4px solid #38242C; */
  box-shadow: 6px 6px 0px rgba(56, 36, 44, 0.7);
}

.title {
  margin-bottom: 10px;
  font-size: 28px;
}

.title a {
  text-decoration: none;
  color: #F7F4F4;
  transition: all .3s ease-in-out;
}

.title a:hover {
  color: #EE4587;
}

@media (max-width: 1023px) {
  .featured {
    margin-left: 1em;
    margin-right: 1em;
  }
}