.modaloverlay {
  background:rgba(0,0,0,0.6);
  bottom:0;
  left:0;
  position:fixed;
  right:0;
  top:0;
  transition: opacity 400ms ease-in;
  /* display: none; */
  /* z-index:-1; */
  /* opacity:0; */
  /* pointer-events:none; */
  display: block;
  z-index:99999;
  opacity:1;
  pointer-events:auto;
}

.modaloverlay:target{
  display: block;
  z-index:99999;
  opacity:1;
  pointer-events:auto;
}


.modal {
  background-color:white;
  height: 100%;
  position:relative;
  margin:0 auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  background: #FBF9F9;
  border: 4px solid #38242C;
  box-shadow: 6px 6px 0px rgba(56, 36, 44, 0.7);
}

@media (min-width: 60em) {
  .modal {
    height:75%;
    margin:5% auto;
    max-height: 57em;
    max-width: 500px;
    width:85%;
  }
}

.close{
  text-decoration: none;
  color: #EE4587;
  font-weight: 700;
  text-transform: uppercase;
}

.top {
  border-bottom: 2px solid #38242C;
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  text-align: right;
  padding: 15px;
  z-index: 10;
}